<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>员工管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/Admin.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/bootbox.min.js"></script>
</head>
<body>
    <div class="box">
        <div class="title"><button class="btn" type="button" id="ret">河北圣顺环保科技人力资源管理系统---员工管理</button></div>
        <div class="content">

            <div class="container content_width">
                <div class="person_search">
                    <button class="btn btn-primary search_btn" type="button" id="exit">退出登录</button>
                    <div class="search_input">
                        <div class="input-group mb-3">
                            <span>员工ID：</span>
                            <input id="Ktext" type="text" class="form-control" placeholder="请输入员工ID">
                        </div>
                    </div>
                    <!-- <div class="search_input">
                        <div class="input-group mb-3" hidden>
                            <span>工号：</span>
                            <input id="job_num" type="text" class="form-control" placeholder="请输入工号">
                        </div>
                    </div> -->
                    <div class="search_input">
                        <button class="btn btn-primary search_btn" type="button" id="search_btn">查询</button>
                        <button class="btn btn-primary search_btn" type="button" id="back_btn">重置</button>
                    </div>
                </div>
                <div class="line"></div>
            </div>

            <div class="export">
                <button id="new_add" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#renyuan">
                    <img src="../static/images/add_two.png" />
                    <span>添加</span>
                </button>
                <div class="modal fade" id="renyuan">
                    <div class="modal-dialog modal-lg modal_position">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">添加</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table id="xztb" class="table">

                                    <tbody>
                                        <tr>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>员工ID</label>
                                            </td>
                                            <td><input class="userID" type="text" placeholder="请输入员工ID" /></td>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>员工姓名</label>
                                            </td>
                                            <td><input class="userName" type="text" placeholder="请输入员工姓名" /></td>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>员工年龄</label>
                                            </td>
                                            <td><input class="userAge" type="number" placeholder="请输入员工年龄" /></td>
                                        </tr>
                                        <tr>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>手机号</label>
                                            </td>
                                            <td><input class="userTel" type="text" placeholder="请输入手机号" /></td>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>邮箱</label>
                                            </td>
                                            <td><input class="userEmail" type="text" placeholder="请输入邮箱" /></td>
                                        </tr>
                                        <tr>
                                            <td class="tb_bg"><label for="">性别</label></td>
                                            <td>
                                                <select class="form-control select_down"  onchange="func()" id="user_gender" style="font-size: 13px; color: #666;">
                                                    <option>MAN</option>
                                                    <option>WOMAN</option>
                                                </select>
                                            </td>
                                            <td class="tb_bg"><label for="">部门</label></td>
                                            <td>
                                                <select class="form-control select_down" onchange="func()" id="user_department" style="font-size: 13px; color: #666;">
                                                    {% for department in data.departments %}
                                                    {% if department.is_deleted == 0 %}
                                                        <option value="{{ department.depart_id }}">
                                                            {{ department.depart_name }}
                                                        </option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>

                                        
                                       
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button id="add_btn" type="button" class="btn btn-secondary">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table id="tb" class="table">
                <thead>
                    <tr>
                        <th>员工ID</th>
                        <th>员工姓名</th>
                        <th>员工年龄</th>
                        <th>手机号</th>
                        <th>邮箱</th>
                        <th>性别</th>
                        <th>部门</th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="show_tbody">
                <!-- 员工列表数据 -->
                    {% for user in data.users %}
                        {% if user.is_deleted == 0 %}
                            <tr>
                                <td>{{ user.user_id }}</td>
                                <td>{{ user.user_name }}</td>
                                <td>{{ user.user_age }}</td>
                                <td>{{ user.user_mobile }}</td>
                                <td>{{ user.user_email }}</td>
                                <td>{{ user.user_gender }}</td>
                                {% if user.is_depart_delete == 0 %}
                                    <td>{{ user.depart_name }}</td>
                                {% else %}
                                    <td>{{ '部门已被删除' }}</td>
                                {% endif %}
                                <td>
                                    <a href="#" class="edit">编辑</a>
                                    <a href="#" class="del">删除</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../static/js/Admin.js"></script>
</body>
</html>
<!--这行代码可以删除-->
<a style="display:none" href="http://www.bootstrapmb.com">bootstrap模板库</a>
